PORT=4280
PUBLIC_ORIGIN=https://trigg4i.github.io
VISA_BANK_FEE_PERCENT=4
CARD_FEE_PERCENT=3
CARD_FIXED_MGA=4500
CUSTOMS_RESERVE_SMALL_MGA=200000
CUSTOMS_RESERVE_MEDIUM_MGA=350000
CUSTOMS_RESERVE_BULKY_MGA=1300000
LOCAL_DELIVERY_MGA=0
AI_BASE_URL=
AI_API_KEY=
AI_MODEL=
VISA_FALLBACK_USD_MGA=
